<!DOCTYPE html>
<html>
<head>
    <title>Inscripción Exitosa</title>
</head>
<body>

<h1>Inscripción realizada</h1>

<p>Materia: {{subjectName}}</p>
<p>Código: {{subjectCode}}</p>
<p>Fecha: {{date}}</p>

<a href="/dashboard/student">
    Volver al dashboard
</a>

</body>
</html>